html {
	margin: 0;
	padding: 0;
	}
    
body { 
	font-family: "Sofia", sans-serif;
	font-size: 18px;
	color: #000000; 
	margin: 0; 
	padding: 0;
	background-color: #293241;
	}

.top {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    color: #ffeee0; 
    width: 100%;
    height: 60px;
    margin: 0; 
	padding: 15px;
    background-color: #e76f51;
    z-index: 10;
    box-sizing: border-box;
}

.bio {
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    color: #ffeee0; 
    width: 100%;
    height: auto;
    margin-top: 5px; 
    margin-bottom: 5px; 
	padding: 15px;
    background-color: #e9c46a;
    text-align: center;
    box-sizing: border-box;
}

.segment1{
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    color: #ffeee0; 
    width: 100%;
    height: auto;
    margin-top: 5px; 
    margin-bottom: 5px; 
	padding: 15px;
    background-color: #2a9d8f;
    text-align: center;
    box-sizing: border-box;
}

.projects{
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    color: #ffeee0; 
    width: 100%;
    height: auto;
	padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    box-sizing: border-box;
    overflow-x: scroll;
}

.contacts{
    background-color: #642388;
	font-family: "Comfortaa",sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	color: #ffeee0;
	position: sticky;
	bottom: 0;
}

	a:link{
		color: #ffeee0;
		text-decoration: none;
	}

	a:visited{
		color:#ffeee0;
	}

	a:hover{
		color: #f4e29f;
	}
